Port 2222
ListenAddress 0.0.0.0
HostKey /Users/mahdiar/Documents/conterm-ios/.test-host/hostkey
PidFile /Users/mahdiar/Documents/conterm-ios/.test-host/sshd.pid
AuthorizedKeysFile /Users/mahdiar/Documents/conterm-ios/.test-host/authorized_keys
StrictModes no
UsePAM no
PasswordAuthentication no
PubkeyAuthentication yes
LogLevel INFO
